<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bigbrains_game">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Big Brains"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BigBrains_Game">
        <activity
            android:name=".StartPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Getting_Started"
            android:exported="true">
        </activity>
        <activity
            android:name=".Home"
            android:exported="true">
        </activity>
        <activity
            android:name=".Matching_Game"
            android:exported="true">

        </activity>
        <activity
            android:name=".Pattern_Game"
            android:exported="true">

        </activity>

        <activity
            android:name=".Score_Board"
            android:exported="true">
        </activity>
    </application>

</manifest>